body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
    
}
.vertical-navbar {
    width: 330px;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    color: white;
}
.vertical-navbar h2 {
    text-align: center;
}
.vertical-navbar img {
    display: flex;
    margin: -5px 10px 0px 10px;
    width: 50px;
    height: 50px;
}
.vertical-navbar a {
    display: flex;
    color: #f2f2f2;
    text-align: left;
    padding: 18px 20px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.vertical-navbar a:hover {
    background-color: #ddd;
    color: black;
}
.vertical-navbar .account-link {
    position: absolute;
    font-size: 25px;
    bottom: 10px;
    width: 100%;
}
nav a:hover, 
   nav a.active {
    font-family: 'Courier New', Courier, monospace;
   font-size: 35px;
    color: rgb(23, 169, 242);
  } 
.horizontal-navbar {
    margin-left: 200px;
    background-color: #333;
    overflow:hidden;
    width: 86%;
    padding: 18px 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.horizontal-navbar input[type="text"] {
     margin-left: auto;
    padding: 6px;
    border-radius: 150px;
    /* float:right; */
    border: none;
  margin-top: 10px;
  margin-right: 8px;
  font-size: 20px;
}
.horizontal-navbar button {
    padding: 6px 10px;
    background: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 40px;
}



.horizontal-navbar:hover {
   
        color: white;
} 

.normal
{
    font-size: 20px;
    /* display: flex; */
    
    
}
.normal img
{
    margin:0px 10px 0px 10px
}

.content {
    margin-left: 315px;
    margin-right: 500px;
    padding: 16px;
    width: 100%;
}
.content2
{
    display: grid;
    height: auto;
    display: grid;
    background-color: var(--myRed);
    padding: 10px;
    margin-bottom: 50px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
    grid-auto-flow: row;

    /* justify-content:space-around; */
    margin-right: 350px;
    margin-left: 20px;
}
.content3
{
    margin-right: 350px;
    margin-left: 20px;
    margin-bottom:70px;
}
table {
    border: 2px solid blue;
    border-collapse: collapse;
    margin-top:-30px;
    width: 100%;
    background-color: skyblue;
    
    
}
th, td {
    border: 3px solid blue;
    padding: 20px;
    text-align: left;
    
   
}
th {
    background-color: #f2f2f2;
    
}
caption {
    font-size: 30px;
    font-weight: bold;
    text-align: left;

    background-color: darkblue;
    color: white;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content4{
    margin-right: 350px;
    margin-top:-20px;
    margin-left: 20px;
    /* margin-bottom:70px; */
    font-size: 15px;
    font-weight: bold;
    text-align: left;

    background-color: rgb(126, 167, 4);
    color: white;
    padding: 1px;
    border-radius: 20px;
    
}
.content5
{
    display: grid;
    height: 180px;
    padding: 10px;
    
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    gap: 10px 10px;
    grid-auto-flow: row;
   
    margin-right: 350px;
    margin-left: 20px;
    
}
